@import "colors.scss";
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,200,100,300');
@import "projects.scss";

$font: Work Sans;
body {
    font-family: $font;
    background-color: $backgroundColor;
  }
.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 950px 1fr;
    grid-template-areas: 
        ". main .";
}
.main {
    text-align: center;
    grid-area: main;
}
.mainTitle {
    color: $mainFontColor;
    padding: 300px 0 300px;
    font-weight: 100;
    letter-spacing: 0.2em;
    font-size: 3rem; 
}
.introductionContainer {
    color: $mainFontColor;
    width: 60%;
    margin: 0 auto;
    font-weight: 100;
}