@import "colors.scss";

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas: 
        ". main .";
    background-color: $backgroundColor;
}
.main {
    grid-area: main;
}
