.projects {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    // TODO: get rid of px. ;)
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.project {
    border: 1px solid $projectBorder;
    border-radius: 2px;
    padding: 1rem;

    &__title{
        border-bottom: 1px solid red;
        padding: 0 0 1em;
    }
}