.projects {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    // TODO: get rid of px. ;)
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    background-color: $projectsBackgroundColor;
    padding: 20px;
    
}

.project {
    border-radius: 2px;
    padding: 1rem 1rem 2rem ;
    background-color: $projectBackgroundColor;

    &__title{
        margin: 10px 0px 20px;
        h3 {
            font-size: 1.5rem;
        }
    }
}